header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem;
  color: var(--secondary-color);
  margin-bottom: 3rem;
}

h1{
  font-size:4rem;
}

.menu{
  display: flex;
  list-style: none;
  gap: 3rem;
}
ion-icon {
  color: var(--icons-color);
  font-size: 35px;
}
.menu li ion-icon{
  transition: all ease 0.3s;
  cursor: pointer;
}
.menu li ion-icon:hover{
  border-bottom: var(--secondary-color) solid 1px;
  transform: scale(1.1);
}

@media (max-width: 730px) {
  h1{
    font-size:3rem;
  }
  ion-icon {
    font-size: 2.5rem;
  } 
}