:root{
  --primaryColor:#0D1B2A;
  --sectionColor: #26334C;
  --secondary-color: white;
  --icons-color: #E0E1DD;
  --shadow-color: rgba(0, 0, 0, 0.564);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primaryColor);
  padding: 1rem;
}